*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100%;
    width: 100%;
}
.main{
    background-color: #efeeec;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px ;
    margin: 0px 12px 2px 12px;
}
nav > div:first-child{
    
    margin-left: 18px;
}
a{
    list-style: none;
    text-decoration: none;
    color: #000000;
}

#txt{
    font-weight: 600;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hero{
    position: relative;
    width: 98%;
    max-width: 1300px;
    height: 700px;
    margin: 0px 30px;
    background-image:url(./assets/background);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    overflow: hidden;
    background-size: 2000px auto; 
    
}

.hero-content{
    position: absolute;
    top: 100px;
    left: 60px;
    width: 400px;
}

.small-text{
    font-size: 28px;
    margin-bottom: 1px;
}

.hero-content h1{
    font-size: 90px;
    line-height: 1;
    margin-bottom: 12px;
    font-weight: 700;
}

.descp{
    font-size: 20px;
    width: 420px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.btn{
    display: inline-block;
    background: #040405;
    list-style: none;
    text-decoration: none;
    color: #efeeec;
    padding: 18px 28px;
    margin-right: 20px;
    border-radius: 4px;
}

.link{
    color: #040405;
}

.content2{
    width: 95%;
    margin: 10px auto;
    padding: 20px 0;
    position: relative;
}

.Topcard{
    width: 58%;
    padding: 10px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.Topcard h1{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
}

.Topcard p{
    font-size: 18px;
    line-height: 1.7;
    max-width: 900px;
}

.content2-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
     margin-left: 40px;
    margin-bottom: 0px;
}

.card{
    width: 600px;
}
.text-cont{
    margin-top: 30px;
    margin-bottom: 30px;

}

.section3{
    display: flex;
    width: 100%;
    height: 700px;
    background-color:  #DBE2E9;
    margin-top: 80px auto;
    padding: 80px;
    gap: 50px;
}

.left h2{
    font-size: 28px;
    margin-bottom: 10px;
}

.intro{
    margin-bottom: 18px;
    color: #444;
}

.linkto{
    color: #000000;
}
.item{
    display: inline-block;
    width: 310px;
    vertical-align: top;
    margin-right: 40px;
    margin-bottom: 40px;
}

.item h3{
    font-size: 17px;
    margin-bottom: 14px;
}

.item p{
    font-size: 17px;
    color: #444;
    line-height: 1.7;
}

.right{
    width: 400px;

}

.form-box{
    width: 400px;
    background-color: #ffffff;
    padding: 40px 35px;
    text-align: center;
    margin-right: 500px;
    height: 580px;
}

.logo{
    font-size: 50;
    margin-bottom: 8px;

}

.form-box h3{
    font-size: 20px;
    margin-bottom: 15px;

}

.form-box p{
    font-size: 18px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 25px;
}

.form-box input[type="text"],
.form-box input[type="email"] {
    width: 100%;
    padding: 16px;
    margin-bottom: 14px;
    border: none;
    background: #ecece8;
    font-size: 16px;
}

.check{
    display: block;
    text-align: left;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.check input{
    margin-right: 8px;
}

.check a{
    color: #222;
}

.form-box button{
    background: #232533;
    color: white;
    border: none;
    padding: 16px 28px;
    font-size: 15px;
    cursor: pointer;
}

footer{
    display: flex;
    gap: 350px;
    padding: 20px;
    align-items: start;
    height: 500px;

}
.logo{
    margin-left:70px ;
}

#footerL{
    margin-top: 280px;
    padding: 2rem;
}
.footer-content{
    margin: 40px auto;
}
.footer-content p{
    margin-bottom: 10px;
    font: 14px cursive;
}
.footer-content2{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 80px;
    padding: 0px;
    line-height: 1.7;
}

.goto{
    display: flex;
    gap: 100px;
    margin-top: 80px;
}
.goto a{
    color: #000000;
    font-weight: 700;
}